/* adds SG logo in top right of all slides */
.title-slide {
  background: white;
  background-image: url("images/SG-logo.jpg") !important;
  background-repeat: no-repeat;
  background-position: left 95% top 5%;
  background-size: 300px;
}

slides > slide {
  background: white;
  background-image: url("images/SG-logo.jpg") !important;
  background-repeat: no-repeat;
  background-position: left 3% bottom 3%;
  background-size: 200px;
}

body, p, h1, h2, h3, h4, li {
  color: #000000;
}